In [ ]:
import pandas as pd

This is a cool notbook

In [ ]:
print("NICK IS COOL")

print("SIVERT = GAY")

In [ ]:
for i in range(10000):
    print("i =", i)